/*
Pagina inicial
*/

@media print {
/* Hide the element with ID 'my-element' when the page is printed */
#esconder {
    display: none;
}
}
.menu {
    width: 100%;
    position: relative;
}

.menu-esquerda {
    color: #000000;
    background-color: #363636;
    width: 50%;
    height: 60px;
    text-align: center;
    border-radius: 24px 0px 0px 24px;
    float: left;
}
.menu-direita {
    color: #000000;
    background-color: #363636;
    width: 50%;
    height: 50px;
    text-align: right;
    border-radius: 0px 24px 24px 0px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.botao-atual{
    color: #ffffff;
    border-bottom: 2px solid #FED100;
    display:inline-block;
    margin-left: 12px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.espaco-botao{
    color: #ffffff;
    display:inline-block;
    margin-left: 12px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.menu-botoes{
    color: rgba(255, 255, 255, 0.2);
    background-color: #ffffff00;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    letter-spacing: 2px;
    cursor: pointer;
}

.menu-form{
    display: inline-block;
    width: 80%;
}

.menu-botoes:hover {
    color: #ffffff;
    font-weight: bold;
    transition: 0.3s;
}

.menu-input{
    border: none;
    display:inline;
    height: 30px;
    width: 30%;
    background: rgba(130, 130, 130, 0);
    border-bottom: 2px solid rgb(255, 255, 255);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-justify: auto;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
}
.menu-input:focus{
    width: 75%;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;
    font-size: 18px;
}
.menu-botoes-direita {
    height: auto;
    width: 20%;
    padding-top: 10px;
    color: rgba(130, 130, 130, 0.348);
    background-color: #ffffff00;
    cursor: pointer;
    border: 0px;
    transition: 0.5s;
}
.menu-botoes-direita:hover{
    scale: 1.2;
}
.menu-botao-imp {
    height: auto;
    width: 10%;
    color: rgba(130, 130, 130, 0.348);
    background-color: #ffffff00;
    cursor: pointer;
    border: 0px;
    transition: 0.5s;
}
.menu-botao-imp:hover{
    scale: 1.2;
}
.icone-botao{
    width: 30px; 
    height: auto;
}

.filtros{
    background-color: #363636;
    border-radius: 20px;
    border: 0px;
    height: 40px;
    width: 100px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: right;
    font-weight: bold;
    transition: 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.filtros:hover{
    background-color: #FED100;
    color: #FED100;
    font-size: 0px;
    text-align: center;
}

.icone-fechar{
    width: 15px;
    height: auto;
    align-items: right;
}

.banner{
    width: 100%;
}
.imagem-original{
    width: 100%;
    height: 500px;
}
.imagem-alternativa{
    width: 100%;
    height: 500px;
}

.logo {
    width: 20%;
    position: relative;
    margin: auto;
}
.icone-botoes{
    width: 40px;
    height: 40px;
    padding-top: 20px;
}

h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #363636;
    font-size: 20;
    font-family: 'Arial';
    font-weight: 600;
    border-radius: 22px;
    border: 2px solid #FED100;
    width: 48%;
    float: left;
}
.titulo-direto{
    margin-left: 0.5%;
}
body {
    background-color: rgb(255, 255, 255);
}

table{
    width: 48%;
    font-family: 'Arial';
    padding: 10;
    float: left;
    margin-right: 1%;
    border: 2px solid #FED100;
    border-radius: 40px;
    padding: 5px;
}

.tabela-direto{
    float: left;
}
.titulo-nome {
    text-align: center;
    width:70%;
    background:#262424;
    border-radius: 50px 0px 0px 0px;
    color: white;
    padding: 8px;
}
.titulo-ramal {
    text-align: center;
    width:70%;
    background:#262424;
    border-radius: 0px 50px 0px 0px;
    color: white;
    padding: 8px;
}
td {
    color:#262424;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #aaaaaa;
    padding: 8px;
    transition: 5s;
}

tr:hover {
    background-color: #FED100;
    transition: 0.3s;
}

.rodape-ramal  {
    width:30%;
    color: white;
    background:#ffffff;
    border-radius: 0px 0px 50px 0px;
    border-bottom: 1px solid #ffffff;
}
.rodape-nome  {
    text-align: center;
    width:70%;
    color: white;
    background:#ffffff;
    border-radius: 0px 0px 0px 50px;
    border-bottom: 1px solid #ffffff;

}