<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleEdit.css') }}">
    <title>Admin</title>
</head>
<body>
    <form class="form-voltar" method="post" action="{{ url_for('abrirAgenda') }}">
        <button class="voltar-agenda">Voltar</button>
    </form>
    <div class="login">
        {% if nome %}
            <h1 class="mensagem">Bem vindo {{nome}}!</h1>
        {% endif %}
        <h1 class="active">Configurar agenda</h1>
        <form method="post" action="{{ url_for('paginaCadastro') }}">
            <button type="submit" class="botao-cadastrar">Cadastrar ramal</button>
        </form><br>
        <form method="post" action="{{ url_for('search_term') }}">
            <button type="submit" class="botao-cadastrar">Editar ramal</button>
        </form><br>
        <form method="post" action="{{ url_for('abrirAgenda') }}">
            <button type="submit" class="botao-cadastrar">Abrir agenda</button>
        </form>
        {% if mensagemRetorno %}
                <p class="mensagem-retorno">{{mensagemRetorno}}</p>
        {% endif %}
    </div>
</body>
</html>