<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agenda de Ramais - MG</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleEdit.css') }}">
</head>
<body>
    <form class="form-voltar" method="post" action="{{ url_for('admin') }}">
        <button class="voltar-agenda">Voltar</button>
    </form>
    <div class="login">
        <h1>Cadastrar Ramal</h1>
        <h2 class="active"> Interno </h2>
        <form class="botao-trocar" method="post" action="{{ url_for('paginaCadastroDireto') }}">
            <button class="nonactive">Direto</button>
        </form>
        <form method="post" action="{{ url_for('cadastrar') }}">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required><br><br>
            <label for="ramal">Ramal</label>
            <input type="ramal" id="ramal" name="ramal" required><br><br>
            <button type="submit" class="botao-cadastrar">CADASTRAR</button>
        </form>
        {% if mensagemRetorno %}
                <p class="mensagem-retorno">{{mensagemRetorno}}</p>
        {% endif %}
    </div>
</body>
</html>