<!DOCTYPE html>
<html>
<head>
    <title>Carrossel de Imagens</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <style>
        .slick-slide img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="carousel">
        <img src="{{ image_url }}"" alt="Imagem">
        {{image_url}}
        {% for image in images %}
            <div><img src="{{ image }}" alt=""></div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.carousel').slick();
        });
    </script>
</body>
</html>