<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Arquivos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleDrop.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/Icones/icone-config.ico') }}" sizes="32x32">
    <script>
      function handleDragOver(event) {
        event.preventDefault();
      }
      function handleDragEnter(event) {
        event.preventDefault();
        document.getElementById('dropzone').classList.add('dragging');
      }
      
      function handleDragLeave(event) {
        event.preventDefault();
        document.getElementById('dropzone').classList.remove('dragging');
      }
      
      function handleDrop(event) {
        event.preventDefault();
        
        var file = event.dataTransfer.files[0];
        var formData = new FormData();
        formData.append('file', file);
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload', true);
        
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          //  alert(xhr.responseText);
            var mensagem = 'Arquivo enviado com sucesso!';
            alert(mensagem);
          }
        };
        
        xhr.send(formData);
        document.getElementById('dropzone').classList.remove('dragging');
        
        // Lógica para lidar com o arquivo solto
        var file = event.dataTransfer.files[0];
        console.log('Arquivo solto:', file.name);
      }
      
    </script>
  </head>
  <body>
    <div class="menu-superior" id="esconder">
      <form class="menu-botoes" method="post" id="esconder" action="{{ url_for('admin') }}">
          <button class="menu-botoes">Voltar</button>
      </form>
      <h1 class="botao-atual">Editar banner</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="dropzone" ondragenter="handleDragEnter(event)" ondragover="handleDragOver(event)" ondragleave="handleDragLeave(event)" ondrop="handleDrop(event)">
      Arraste e solte a imagem aqui
    </div>
    <h1></h1>
    <!-- Enviando imagens para dentro do diretorio -->
    <form class="form-enviar" method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
      <div>
        <label for="arquivo">Selecionar imagem</label>
        <input type="file" name="file" id="arquivo">
        <button class="botao-enviar" type="submit" value="Enviar">Enviar</button>
      </div>
    </form><br>
    {% if mensagemRetorno %}
            <p class="mensagem-retorno">{{mensagemRetorno}}</p>
    {% endif %}
    {% if files %}
      <table class="tebela-interno">
        <thead>
          <tr>
            <th class="titulo-nome">
              <!-- Listando todas as imagens dentro do diretorio -->
              <form class="form-botao-atualizar" method="post" action="{{ url_for('listarDiretorio') }}">
                <button type="submit" class="botao-atualizar" alt="Atualizar">
                  <img class="icone-botao-atualizar" src="{{ url_for('static', filename='images/icone-atualizar.png') }}">
                </button>
              </form>
              <h3 class="texto-nome">Nome</h3>
            </th>
            <th class="titulo-nome">Renomear</th>
            <th class="titulo-nome">Excluir</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
              <tr>
                <td>{{ file }}</td>
                <td>
                  <form method="post" action="{{ url_for('renomearImagem') }}">
                    <input type="text" value="{{file}}" class="menu-input-escondido" id="nome_antigo" name="nome_antigo">
                    <input type="text" value="{{file}}" class="menu-input" id="nome_novo" name="nome_novo">
                    <button id="my-button" class="botao-renomear" class="btn" value="{{file}}">
                      <img class="icone-botao" src="{{ url_for('static', filename='images/icone-salvar.png') }}">
                    </button>
                  </form>
                </td>
                <td>
                  <form method="post" action="{{ url_for('excluirImagem') }}">
                    <button class="botao-excluir" name="botaoExcluir" value="{{file}}">
                      <img class="icone-botao-atualizar" src="{{ url_for('static', filename='images/icone-excluir.png') }}">
                    </button>
                  </form>
                </td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <form class="form-botao-atualizar-central" method="post" action="{{ url_for('listarDiretorio') }}">
        <button type="submit" class="botao-atualizar" alt="Atualizar">
          <img class="icone-botao-atualizar" src="{{ url_for('static', filename='images/icone-atualizar-escuro.png') }}">
        </button>
      </form>
    {% endif %}
  </body>
</html>