<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Arquivos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleDrop.css') }}">
    <script>
      function handleDragOver(event) {
        event.preventDefault();
      }
      function handleDragEnter(event) {
        event.preventDefault();
        document.getElementById('dropzone').classList.add('dragging');
      }
      
      function handleDragLeave(event) {
        event.preventDefault();
        document.getElementById('dropzone').classList.remove('dragging');
      }
      
      function handleDrop(event) {
        event.preventDefault();
        
        var file = event.dataTransfer.files[0];
        var formData = new FormData();
        formData.append('file', file);
        
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload', true);
        
        xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          //  alert(xhr.responseText);
            var mensagem = 'Arquivo enviado com sucesso!';
            alert(mensagem);
          }
        };
        
        xhr.send(formData);
        document.getElementById('dropzone').classList.remove('dragging');
        
        // Lógica para lidar com o arquivo solto
        var file = event.dataTransfer.files[0];
        console.log('Arquivo solto:', file.name);
      }
    </script>
  </head>
  <body>
    <h1>Lista de Arquivos</h1>
    <!-- Listando todas as imagens dentro do diretorio -->
    <form method="post" action="{{ url_for('listarDiretorio') }}">
      <button type="submit" class="botao-excluir">Listar diretorio</button>
    </form>
    <h1>Arrastar</h1>
    <div id="dropzone" ondragenter="handleDragEnter(event)" ondragover="handleDragOver(event)" ondragleave="handleDragLeave(event)" ondrop="handleDrop(event)">
      Arraste e solte a imagem aqui
    </div>
    <!-- Enviando imagens para dentro do diretorio -->
    <form method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Enviar">
    </form><br>
    {% if mensagemRetorno %}
            <p class="mensagem-retorno">{{mensagemRetorno}}</p>
    {% endif %}
    {% if files %}
      <table class="tebela-interno">
        <thead>
          <tr>
            <th class="titulo-nome">Nome</th>
            <th class="titulo-nome">Renomear</th>
            <th class="titulo-nome">Excluir</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
              <tr>
                <td>{{ file }}</td>
                <td>
                  <form method="post" action="{{ url_for('renomearImagem') }}">
                    <button class="botao-excluir" name="botaoExcluir" value="{{file}}">Renomear</button>
                  </form>
                </td>
                <td>
                  <form method="post" action="{{ url_for('excluirImagem') }}">
                    <button class="botao-excluir" name="botaoExcluir" value="{{file}}">Excluir</button>
                  </form>
                </td>
              </tr>
          {% endfor %}
          <tr>
            <td class="rodape-nome"> </td>
            <td class="rodape-ramal"> </td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <p class="mensagem-retorno">Nenhum arquivo foi encontrado!</p>
    {% endif %}
  </body>
</html>