<!DOCTYPE html>
<html lang="en">
<head>
    <title>Informativo MG</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
      /* Estilos para o carrossel */
      #carousel {
        width: 100%;
        height: auto;
        overflow: hidden;
      }
  
      #carousel img {
        position: absolute;
        top:auto;
        left: 10%;
        width: 80%;
        height: auto;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        border-radius: 24px;
      }
  
      #carousel img.active {
        opacity: 1;
      }
    </style>
</head>
<body>
  <center><img class="logo" src="{{ url_for('static', filename='images/ai.png') }}"></center>
  <div class="menu">
    <div class="menu-esquerda">
      <h1 class="botao-atual">Home</h1>
      <form class="menu-botoes" method="post" action="{{ url_for('abrirAgenda') }}">
          <button class="menu-botoes">Agenda</button>
      </form>
    </div>
    <div class="menu-direita">
      <form class="menu-botoes" method="post" action="{{ url_for('login') }}">
        <h1 class="espaco-botao">&nbsp</h1>
        <button class="menu-botoes-direita">
          <img class="icone-botao" src="{{ url_for('static', filename='images/icone-config.png') }}">
        </button>
        <h1 class="espaco-botao">&nbsp</h1>
      </form>
    </div>
  </div>
  <h2 class="titulo-principal">ENDOMARKETING</h2>
  <!-- Carrossel com imagens -->
  <div id="carousel">
    <img class="active" src="/static/images/Banners/imagem1.png" alt="Imagem 1">
    <img src="/static/images/Banners/imagem2.png" alt="Imagem 2">
    <img src="/static/images/Banners/imagem3.jpg" alt="Imagem 3">
    <img src="/static/images/Banners/imagem4.jpg" alt="Imagem 4">
  </div>
  <h1></h1>
  <script>
  var images = document.querySelectorAll("#carousel img"); // Seleciona todas as imagens
  var currentIndex = 0; // Índice da imagem atual

  function changeImage() {
    var previousIndex = currentIndex;
    currentIndex = (currentIndex + 1) % images.length;

    // Remove a classe "active" da imagem anterior
    images[previousIndex].classList.remove("active");
    // Adiciona a classe "active" à próxima imagem
    images[currentIndex].classList.add("active");

    // Aguarda 5 segundos e chama a função novamente
    setTimeout(changeImage, 5000);
  }

  // Inicia a troca de imagens com transição
  setTimeout(changeImage, 5000);
  </script>
</body>
</html>