<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agenda de Ramais - MG</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleRamais.css') }}">
</head>
<body>
    <!-- Logo Copobras -->
    <center><img class="logo" src="{{ url_for('static', filename='images/ai.png') }}"></center>
    <div class="menu-esquerda" id="esconder">
        <h1 class="espaco-botao">&nbsp</h1>
        <form class="menu-botoes" method="post" id="esconder" action="{{ url_for('home') }}">
            <button class="menu-botoes">Home</button>
        </form>
        <h1 class="botao-atual">Agenda</h1>
    </div>
    <div class="menu-direita" id="esconder">
        <!-- Pesquisar / filtrar -->
        <form class="menu-form" method="post" action="{{ url_for('filtrarAgenda') }}">
            <input class="menu-input" autocomplete=off placeholder="Buscar nome / ramal" type="text" id="pesquisar" name="pesquisar">
            <button class="menu-botoes-direita">
                <img class="icone-botao" src="{{ url_for('static', filename='images/icone-pesquisa.png') }}">
            </button>
        </form>
        <!-- Imprimir -->
        <button class="menu-botao-imp" id="esconder" onclick="window.print()">
            <img class="icone-botao" src="{{ url_for('static', filename='images/icone-impressora2.png') }}">
        </button>
    </div>
    <!-- Excluir filtros -->
    <form class="menu-form" method="post" action="{{ url_for('excluirFiltro') }}">
        {% if filtros %}
            <h3 class="titulo-filtro">FILTRAR POR:
                {% for filtro in filtros %}
                    <button class="filtros" name="filtro" value="{{filtro,filtros}}">{{filtro}}
                        <img class="icone-fechar" src="{{ url_for('static', filename='images/icone-fechar.png') }}">
                    </button>
                {% endfor %}
            </h3>
        {% endif %}
    </form>
    <!-- Titulos das tabelas -->
    <h2 class="titulo-interno">RAMAL INTERNO
        <form class="menu-form" method="post" action="{{ url_for('abrirAgenda') }}">
            <button class="menu-botoes" id="esconder" name="action" value="interna">
                <img class="icone-botao" src="{{ url_for('static', filename='images/icone-trocar.png') }}">
            </button>
            <button class="menu-botoes" id="esconder" name="action" value="direta">
                <img class="icone-botao" src="{{ url_for('static', filename='images/icone-trocar.png') }}">
            </button>
        </form>
    </h2>
    <form method="POST" action="/abrirAgendaTeste">
      <h3>INTERNO</h3>
      <label class="switch">
        <input type="checkbox" name="tipo" value="interno">
        <span class="slider round"></span>
      </label>
      <h3>DIRETO</h3>
      <label class="switch">
        <input type="checkbox" name="tipo" value="direto">
        <span class="slider round"></span>
      </label>
      <button class="menu-botoes" id="esconder">
        <img class="icone-botao" src="{{ url_for('static', filename='images/icone-trocar.png') }}">
    </button>
    </form>
    <!-- Tabela interna -->
    <table class="tebela-interno">
        <thead>
            <tr>
                <th class="titulo-nome">Nome</th>
                <th class="titulo-central">Ramal</th>
                <th class="titulo-ramal">Setor</th>
            </tr>
        </thead>
        <tbody>
            {% if filtro=='ativado' %}
                {% for row in rows %}
                    {% for i in row %}
                    <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                    
                    </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if filtro=='desativado' %}
                {% for row in rows %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td class="rodape-nome"> </td>
                <td class="rodape-ramal"> </td>
            </tr>
        </tbody>
    </table>
</body>
</html>