<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Procurar ramal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleEdit.css') }}">
</head>
<body>
    <div class="login">
        <form class="form-voltar" method="post" action="{{ url_for('admin') }}">
            <button class="voltar-agenda">
                <img class="icone-voltar" src="{{ url_for('static', filename='images/icone-voltar.png') }}">
            </button>
        </form>
        <h1 class="active">Buscar ramal</h1>
        <form method="post" action="{{ url_for('search') }}">
            <label for="busca_term">Pesquisar:</label>
            <input type="text" placeholder="Digite o nome ou ramal" name="busca_term" id="busca_term"><br>
            <button type="submit" class="botao-cadastrar">Buscar</button>
        </form>
        <br><br>
        <form method="post" action="{{ url_for('search_select') }}">
            <button type="submit" class="botao-cadastrar">Selecionar na tabela</button>
        </form>
    </div>
</body>
</html>