<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleIP.css') }}">
    <title>Tabela de IP</title>
</head>
<body>
    <div class="box-header">
        <div class="menu" id="esconder">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="icone-botao" src="{{ url_for('static', filename='images/icone-filtro.png') }}">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form method="POST" action="/filtrar_ip_livre_ocupado">
                        {% if ativados %}
                            <h3>EM USO</h3>
                            <label class="switch">
                                {% if ativados[0]=='usados' %}
                                    <input type="checkbox" name="estado" value="usados" checked>
                                    <span class="slider round"></span>
                                {% else %}
                                    <input type="checkbox" name="estado" value="usados">
                                    <span class="slider round"></span>
                                {% endif %}
                            </label>
                            <h3>LIVRES</h3>
                            <label class="switch">
                                {% if ativados[1]=='livres' %}
                                    <input type="checkbox" name="estado" value="livres" checked>
                                    <span class="slider round"></span>
                                {% elif ativados[0]=='livres' %}
                                    <input type="checkbox" name="estado" value="livres" checked>
                                    <span class="slider round"></span>
                                {% else %}
                                    <input type="checkbox" name="estado" value="livres">
                                    <span class="slider round"></span>
                                {% endif %}
                            </label><br>
                            <button class="botao-atualizar" id="esconder">
                                <img class="icone-botao-atualizar" src="{{ url_for('static', filename='images/icone-atualizar-escuro.png') }}">
                            </button>
                        {% else %}
                            <h3>EM USO</h3>
                            <label class="switch">
                                <input type="checkbox" name="estado" value="usados" checked>
                                <span class="slider round"></span>
                            </label>
                            <h3>LIVRES</h3>
                            <label class="switch">
                                <input type="checkbox" name="estado" value="livres" checked>
                                <span class="slider round"></span>
                            </label><br>
                            <button class="botao-atualizar" id="esconder">
                                <img class="icone-botao" src="{{ url_for('static', filename='images/icone-atualizar-escuro.png') }}">
                            </button>
                        {% endif %}   
                    </form>
                </div>
            </div>
            <!-- Pesquisar / filtrar -->
            <form class="menu-form" method="post" action="{{ url_for('filtrar_tabela_ip') }}">
                <input class="menu-input" autocomplete=off placeholder="Buscar IP" type="text" id="pesquisar" name="pesquisar">
                <button class="menu-botoes">
                    <img class="icone-botao" src="{{ url_for('static', filename='images/icone-pesquisa.png') }}">
                </button>
            </form>
        </div>
    </div>
    {% if ativados %}
        <h2>Tabela de IP{{"'s "+ ativados[0] }}</h2>
    {% else %}
        <h2>Tabela de IP</h2>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th class="titulo-esquerda">IP</th>
                <th class="titulo-central">MAC</th>
                <th class="titulo-central">Usuario</th>
                <th class="titulo-central">HOST</th>
                <th class="titulo-central">Setor</th>
                <th class="titulo-central">DHCP</th>
                <th class="titulo-direita">Editar&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for i in tabela %}
                    <tr class="linha-tabela">
                        <td>192.168.20.{{ i[1] }}</td>
                        <td>{{ i[2] }}</td>
                        <td>{{ i[3] }}</td>
                        <td>{{ i[4] }}</td>
                        <td>{{ i[5] }}</td>
                        <td>{{ i[6] }}</td>
                        <td>
                            <form method="post" action="{{ url_for('editar_ip') }}">
                                <button class="botao-editar" name="editar" value="{{i[0]}}">
                                    <img class="icone-botao" src="{{ url_for('static', filename='images/icone-editar-branco.png') }}">
                                </button>
                            </form>
                        </td>
                    </tr>
            {% endfor %}
            <tr class="rodape-tabela"><td class="rodape-tabela">&nbsp;&nbsp;</td></tr>
            <tr class="rodape-tabela">
                <td class="rodape-tabela">
                    {% if vazio %}
                        Sem resultados
                    {% else %}
                        Total: {{resultados}}
                    {%endif%}
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>