<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Agenda de Ramais - MG</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <center><img class="logo" src="{{ url_for('static', filename='images/ai.png') }}"></center>
    <div class="menu-esquerda" id="esconder">
        <form class="menu-botoes" method="post" id="esconder" action="{{ url_for('home') }}">
            <button class="menu-botoes">Home</button>
        </form>
        <h1 class="botao-atual">Agenda</h1>
    </div>
    <div class="menu-direita" id="esconder">
        <h1 class="espaco-botao">&nbsp</h1>
        <button class="menu-botoes" id="esconder" onclick="window.print()">Imprimir</button>
        <button class="menu-botoes-direita" id="esconder" onclick="window.print()">
            <img class="icone-botao" src="{{ url_for('static', filename='images/icone-impressora2.png') }}">
        </button>
        <form class="menu-botoes" method="post" action="{{ url_for('filtrarAgenda') }}">
            <input class="menu-input" type="text" id="pesquisar" name="pesquisar">
            <button class="menu-botoes-pesquisa">
                <img class="icone-botao" src="{{ url_for('static', filename='images/icone-pesquisa.png') }}">
            </button>
        </form>
    </div>
    <h1></h1>
    <h2 class="titulo-interno">RAMAL INTERNO</h2>
    <h2 class="titulo-direto">RAMAL DIRETO</h2>
    <table class="tebela-interno">
        <thead>
            <tr>
                <th class="titulo-nome">Nome</th>
                <th class="titulo-ramal">Ramal</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            
            </tr>
            {% endfor %}
            <tr>
                <td class="rodape-nome"> </td>
                <td class="rodape-ramal"> </td>
            </tr>
        </tbody>
    </table>
    
    <table class="tebela-direto">
        <thead>
            <tr>
                <th class="titulo-nome">Nome</th>
                <th class="titulo-ramal">Ramal</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows2 %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="rodape-nome"> </td>
                <td class="rodape-ramal"> </td>
            </tr>
        </tbody>
    </table>
</body>
</html>