<!DOCTYPE html>
<html lang="en">
<head>
    <title>Informativo MG</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Document</title>

    <script>
        function trocarImagem() {
          var imagemOriginal = document.querySelector('.imagem-original');
          var imagemAlternativa = document.querySelector('.imagem-alternativa');
          if (imagemOriginal.style.display === 'none') {
            imagemOriginal.style.display = 'block';
            imagemAlternativa.style.display = 'none';
          } else {
            imagemOriginal.style.display = 'none';
            imagemAlternativa.style.display = 'block';
          }
        }
      </script>




</head>
<body>
  <center><img class="logo" src="{{ url_for('static', filename='images/ai.png') }}"></center>
  <div class="menu">
    <h1 class="botao-atual">Home</h1>
    <form class="menu-botoes" method="post" action="{{ url_for('abrirAgenda') }}">
        <button class="menu-botoes">Agenda</button>
    </form>
    <form class="menu-botoes" method="post" action="{{ url_for('paginaCadastro') }}">
        <button class="menu-botoes">Cadastrar</button>
    </form>
    <form class="menu-botoes" method="post" action="{{ url_for('search_term') }}">
        <button class="menu-botoes">Editar</button>
    </form>
  </div>

  <img class="imagem-original" src="{{ url_for('static', filename='images/Banners/1.png') }}" alt="Minha imagem original">
  <img class="imagem-alternativa" src="{{ url_for('static', filename='images/Banners/2.png') }}" alt="Minha imagem alternativa" style="display: none;">
  <button onclick="trocarImagem()">Trocar Imagem</button>
</body>
</html>